@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #eb3300;
  --color-secondary: #ffe4e4;
  --color-bg-white: #ffffff;
  --color-bg-light: #f8f9fe;
  --color-text-dark: #262529;
  --color-text-grey: #b6b7bc;
  --color-text-light-grey: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: none;
  background-color: var(--color-bg-light);
}
html::-webkit-scrollbar-thumb {
  background: var(--color-text-grey);
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
